NEXT_PUBLIC_APP_NAME="Ranking AM - Cartoes SS Z2/Z3/Z4"

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=

UPLOAD_MAX_FILE_SIZE_MB=15
UPLOAD_MAX_ROWS=100000
OPERATOR_PHOTO_MAX_SIZE_MB=2

APP_DEFAULT_TIMEZONE=America/Recife
